<div class="contact">
    <div class="title">Contact Us</div>
    <div class="container">
        <div class="form">
            <div class="form-group">
                <label>Name</label>
                <div class="input-group">
                    <i class="bi bi-person"></i>
                    <input type="text" placeholder="Enter Your Name" />
                </div>
            </div>            
            <div class="form-group">
                <label>Email</label>
                <div class="input-group">
                    <i class="bi bi-at"></i>
                    <input type="email" placeholder="Enter Your Email" />
                </div>
            </div>
            <div class="form-group">
                <label>Subject</label>
                <div class="input-group">
                    <i class="bi bi-tag"></i>
                    <input type="text" placeholder="Enter Your Subject" />
                </div>
            </div>
            <div class="form-group">
                <label>Message</label>
                <div class="input-group input-group-textarea">
                    <i class="bi bi-envelope"></i>
                    <textarea placeholder="Enter your Message"></textarea>
                </div>
            </div>
            <button>
                <span>
                    Send
                </span>
                <i class="bi bi-send"></i>
            </button>
        </div>
    </div>
</div>
