<div class="footer">
    <div class="overlay"></div>
    <div class="container">
        <div class="address">
            <span>Social</span>
            <ul class="social">
                <li>
                    <i class="bi bi-instagram"></i>
                </li>
                <li>WeatherZ</li>
            </ul>
            <ul class="social">
                <li>
                    <i class="bi bi-envelope-at"></i>                    
                </li>
                <li>WeatherZgmail.com</li>
            </ul>
        </div>
        <div class="pages">
            <span>Pages</span>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Features</li>
                <li>Contact</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>