<div class="footer">
    <div class="overlay"></div>
    <div class="container">
        <div class="address">
            <span>Social</span>
            <ul class="social">
                <li>
                    <a href="">
                        <i class="bi bi-instagram"></i>
                        WeatherZ
                    </a>
                </li>
            </ul>
            <ul class="social">
                <li>
                    <a href="mailto:Weatherz2024@gmail.com">
                        <i class="bi bi-envelope-at"></i>                    
                        Weatherz2024&#64;gmail.com
                    </a>
                </li>
            </ul>
        </div>
        <div class="pages">
            <span>Pages</span>
            <ul>
                <li (click)="scrollTo('home')">
                    Home
                </li>
                <li (click)="scrollTo('about')">
                    About
                </li>
                <li (click)="scrollTo('features')">
                    Features
                </li>
                <li (click)="scrollTo('contact')">
                    Contact
                </li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>
