<div class="home">
    <div class="description" @translateFromLeftAnimation>
      <p>
        Your Personal Weather Assistant <br /> Right in Your Hands!
      </p> 
      <button>
        <span>
          Download Now
        </span>
        <i class="bi bi-download"></i>
      </button>
    </div>
    <div class="phone-demo" @translateFromTopAnimation>
      <img class="phone-cover" src="assets/images/phone-cover.png" alt="phone-cover" />
      <div class="screen-demo">
        @if (images[currentIndex]) {
            <img
              [@slideAnimation]="currentIndex"
              [src]="'assets/images/demo-screen/' + images[currentIndex] + '.jpeg'"
              [alt]="'screen' + currentIndex" />
        }
      </div>
    </div>
</div>