.features {
    padding: 20px 0;
}
.features .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.features .feature {
   width: 45%;
   background-color: white;
   color: #000000;
   display: flex;
   align-items: center;
   border-radius: 6px;
   padding: 10px;
   line-height: 1.5;
}
.features .feature .icon i {
    font-size: 50px;
}
.features .feature .description {
    list-style: none;
}
.features .feature .description  li::before {
    content: "✔";
}