.weatherZ {
    background-color: #f0f0f0;
    color: white;
}
.weatherZ-wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.weatherZ-wrapper:before {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("pattern1.png");
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}