<div class="weatherZ">
  <div class="container">
    <!-- Start Landing -->
    <div class="weatherZ-wrapper">
      <div class="navbar">
        <span class="logo">WeatherZ</span>  
        <ul class="nav-list">
          <li>Home</li>
          <li>About</li>
          <li>Features</li>
          <li>Contact</li>
        </ul>
        <button class="switch-theme" (click)="toggleTheme()">
          <span class="active">
            <i class="bi bi-brightness-low-fill"></i>
          </span>
          <span>
            <i class="bi bi-moon-fill"></i>
          </span>
        </button>
      </div>
    </div>
    <!-- End Landing -->
  </div>
</div>