<div class="weatherZ">    
    <div class="weatherZ-wrapper">
      <!-- Start Navbar -->
      <app-navbar></app-navbar>
      <!-- End Navbar -->
      <!-- Start Home -->
      <app-home></app-home>
      <!-- End Home -->
      <!-- Start About Us -->
      <app-about-us></app-about-us>
      <!-- End About Us -->
      <!-- Start Features -->
      <app-features></app-features>
      <!-- End Features -->
      <!-- Start Contact -->
      <app-contact></app-contact>
       <!-- End Contact -->
      <!-- Start Footer -->
      <app-footer></app-footer>
       <!-- End Footer -->
      <!-- Start Button Scroll to Top -->
      <app-scroll-top></app-scroll-top>
      <!-- End Button Scroll to Top -->
    </div>
</div>