<div #aboutUs class="about-us" [@fadeIn]="isVisible ? 'visible' : 'hidden'">
    <div class="title">About Us</div>
    <div class="container">
      <img #aboutImage src="assets/images/about-us.png" alt="about-us" class="fade-in-img" />
      <div #aboutText class="description fade-in-text">
        WeatherZ is a multilingual weather app designed for simplicity and accuracy. Easily check temperature, humidity, wind speed, and detailed daily or weekly forecasts with a manual refresh. The app features a clean and user-friendly interface, making weather updates quick and convenient. Whether at home or traveling, access forecasts in your preferred language and plan your day with confidence. 🌍☀️🌧️
      </div>
    </div>
</div>