.weatherZ-wrapper {
    background: rgb(129,144,248);
    background: linear-gradient(79deg, rgba(129,144,248,1) 0%, rgba(141,140,234,1) 10%, rgba(152,137,222,1) 17%, rgba(168,132,204,1) 25%, rgba(189,126,181,1) 39%, rgba(210,120,158,1) 60%, rgba(220,116,144,1) 76%, rgba(223,115,139,1) 81%, rgba(221,116,142,1) 87%, rgba(217,118,147,1) 100%);
}
.weatherZ-wrapper .navbar .switch-theme {
    border: 1px solid #ffcb57;
    background: #b9974c;
}
.weatherZ-wrapper .navbar .switch-theme span {
    background-color: #e3be0a;
}
.weatherZ-wrapper .navbar .switch-theme span.active {
    background-color: #e3be0a;
}
/* Start Navbar */
:root {
    --main-color: #3674B5;
    --navbar-background-color: linear-gradient(79deg, rgba(129,144,248,1) 0%, rgba(141,140,234,1) 10%, rgba(152,137,222,1) 17%, rgba(168,132,204,1) 25%, rgba(189,126,181,1) 39%, rgba(210,120,158,1) 60%, rgba(220,116,144,1) 76%, rgba(223,115,139,1) 81%, rgba(221,116,142,1) 87%, rgba(217,118,147,1) 100%);
}
/* End Navbar */
/* Start Home */
.home .description a {
    border: 1px solid #578FCA;
    background: #3674B5;
    box-shadow:  4px 6px 12px 3px #4D55CC;
    -webkit-box-shadow: 4px 6px 12px 3px #4D55CC;
    -moz-box-shadow:  4px 6px 12px 3px #4D55CC;
}
.home .description a::after {
    background: #4D55CC;
}
/* End Home */
/* Start Features */
.features .feature .icon i {
    color: #3674B5;
}
.features .feature .description  li::before {
    color: #3674B5;
}
/* End Features */
/* Start Scroll Top */
.scroll-top {
    border: 1px solid #578FCA;
    background: #3674B5;
}
/* End Scroll Top */